<!-- Breadcrumb -->
<div class="page-header page-header-default">

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
            <li><a href="<?php echo $this->html->url('/', true);?>">Home</a></li>
            <li><a href="#">Projects</a></li>
		</ul>
	</div>

</div>
<!-- /Breadcrumb -->
<!-- Body -->
<?php 
	echo $this->Session->flash(); 
?>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="icon-object border-success text-success"><i class="icon-book"></i></div>
					<h5 class="text-semibold">Knowledge Base</h5>
					<p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far</p>
					<a href="#" class="btn bg-success-400 legitRipple">Browse articles</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="icon-object border-success text-success"><i class="icon-book"></i></div>
					<h5 class="text-semibold">Knowledge Base</h5>
					<p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far</p>
					<a href="#" class="btn bg-success-400 legitRipple">Browse articles</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="icon-object border-success text-success"><i class="icon-book"></i></div>
					<h5 class="text-semibold">Knowledge Base</h5>
					<p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far</p>
					<a href="#" class="btn bg-success-400 legitRipple">Browse articles</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="icon-object border-success text-success"><i class="icon-book"></i></div>
					<h5 class="text-semibold">Knowledge Base</h5>
					<p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far</p>
					<a href="#" class="btn bg-success-400 legitRipple">Browse articles</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="icon-object border-success text-success"><i class="icon-book"></i></div>
					<h5 class="text-semibold">Knowledge Base</h5>
					<p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far</p>
					<a href="#" class="btn bg-success-400 legitRipple">Browse articles</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Body -->